absl-py==0.2.0
astor==0.6.2
backcall==0.1.0
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
future==0.16.0
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
idna==2.6
ipython==6.3.1
ipython-genutils==0.2.0
itchat==1.2.32
jedi==0.12.0
kaggle==1.2.1
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
numpy==1.14.2
optionaldict==0.1.1
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pycrypto==2.6.1
Pygments==2.2.0
pyparsing==2.2.0
pypng==0.0.18
PyQRCode==1.2.1
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.7.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
wxpy==0.3.9.8
xmltodict==0.11.0
